.pui-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}

.pui-row-nowrap {
  flex-wrap: nowrap;
}

/* Justify */
.pui-row-justify-start {
  justify-content: flex-start;
}

.pui-row-justify-end {
  justify-content: flex-end;
}

.pui-row-justify-center {
  justify-content: center;
}

.pui-row-justify-space-around {
  justify-content: space-around;
}

.pui-row-justify-space-between {
  justify-content: space-between;
}

/* Align */
.pui-row-align-top {
  align-items: flex-start;
}

.pui-row-align-middle {
  align-items: center;
}

.pui-row-align-bottom {
  align-items: flex-end;
}

/* Col */
.pui-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

/* Generate col classes */
.pui-col-1 {
  flex: 0 0 4.16666667%;
  max-width: 4.16666667%;
}
.pui-col-2 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.pui-col-3 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.pui-col-4 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.pui-col-5 {
  flex: 0 0 20.83333333%;
  max-width: 20.83333333%;
}
.pui-col-6 {
  flex: 0 0 25%;
  max-width: 25%;
}
.pui-col-7 {
  flex: 0 0 29.16666667%;
  max-width: 29.16666667%;
}
.pui-col-8 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.pui-col-9 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.pui-col-10 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.pui-col-11 {
  flex: 0 0 45.83333333%;
  max-width: 45.83333333%;
}
.pui-col-12 {
  flex: 0 0 50%;
  max-width: 50%;
}
.pui-col-13 {
  flex: 0 0 54.16666667%;
  max-width: 54.16666667%;
}
.pui-col-14 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.pui-col-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.pui-col-16 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.pui-col-17 {
  flex: 0 0 70.83333333%;
  max-width: 70.83333333%;
}
.pui-col-18 {
  flex: 0 0 75%;
  max-width: 75%;
}
.pui-col-19 {
  flex: 0 0 79.16666667%;
  max-width: 79.16666667%;
}
.pui-col-20 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.pui-col-21 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}
.pui-col-22 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.pui-col-23 {
  flex: 0 0 95.83333333%;
  max-width: 95.83333333%;
}
.pui-col-24 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Generate offset classes */
.pui-col-offset-1 {
  margin-left: 4.16666667%;
}
.pui-col-offset-2 {
  margin-left: 8.33333333%;
}
.pui-col-offset-3 {
  margin-left: 12.5%;
}
.pui-col-offset-4 {
  margin-left: 16.66666667%;
}
.pui-col-offset-5 {
  margin-left: 20.83333333%;
}
.pui-col-offset-6 {
  margin-left: 25%;
}
.pui-col-offset-7 {
  margin-left: 29.16666667%;
}
.pui-col-offset-8 {
  margin-left: 33.33333333%;
}
.pui-col-offset-9 {
  margin-left: 37.5%;
}
.pui-col-offset-10 {
  margin-left: 41.66666667%;
}
.pui-col-offset-11 {
  margin-left: 45.83333333%;
}
.pui-col-offset-12 {
  margin-left: 50%;
}
.pui-col-offset-13 {
  margin-left: 54.16666667%;
}
.pui-col-offset-14 {
  margin-left: 58.33333333%;
}
.pui-col-offset-15 {
  margin-left: 62.5%;
}
.pui-col-offset-16 {
  margin-left: 66.66666667%;
}
.pui-col-offset-17 {
  margin-left: 70.83333333%;
}
.pui-col-offset-18 {
  margin-left: 75%;
}
.pui-col-offset-19 {
  margin-left: 79.16666667%;
}
.pui-col-offset-20 {
  margin-left: 83.33333333%;
}
.pui-col-offset-21 {
  margin-left: 87.5%;
}
.pui-col-offset-22 {
  margin-left: 91.66666667%;
}
.pui-col-offset-23 {
  margin-left: 95.83333333%;
}

/* Generate order classes */
.pui-col-order-1 {
  order: 1;
}
.pui-col-order-2 {
  order: 2;
}
.pui-col-order-3 {
  order: 3;
}
.pui-col-order-4 {
  order: 4;
}
.pui-col-order-5 {
  order: 5;
}
.pui-col-order-6 {
  order: 6;
}
.pui-col-order-7 {
  order: 7;
}
.pui-col-order-8 {
  order: 8;
}
.pui-col-order-9 {
  order: 9;
}
.pui-col-order-10 {
  order: 10;
}
.pui-col-order-11 {
  order: 11;
}
.pui-col-order-12 {
  order: 12;
}

/* Generate pull classes */
.pui-col-pull-1 {
  right: 4.16666667%;
}
.pui-col-pull-2 {
  right: 8.33333333%;
}
.pui-col-pull-3 {
  right: 12.5%;
}
.pui-col-pull-4 {
  right: 16.66666667%;
}
.pui-col-pull-5 {
  right: 20.83333333%;
}
.pui-col-pull-6 {
  right: 25%;
}
.pui-col-pull-7 {
  right: 29.16666667%;
}
.pui-col-pull-8 {
  right: 33.33333333%;
}
.pui-col-pull-9 {
  right: 37.5%;
}
.pui-col-pull-10 {
  right: 41.66666667%;
}
.pui-col-pull-11 {
  right: 45.83333333%;
}
.pui-col-pull-12 {
  right: 50%;
}

/* Generate push classes */
.pui-col-push-1 {
  left: 4.16666667%;
}
.pui-col-push-2 {
  left: 8.33333333%;
}
.pui-col-push-3 {
  left: 12.5%;
}
.pui-col-push-4 {
  left: 16.66666667%;
}
.pui-col-push-5 {
  left: 20.83333333%;
}
.pui-col-push-6 {
  left: 25%;
}
.pui-col-push-7 {
  left: 29.16666667%;
}
.pui-col-push-8 {
  left: 33.33333333%;
}
.pui-col-push-9 {
  left: 37.5%;
}
.pui-col-push-10 {
  left: 41.66666667%;
}
.pui-col-push-11 {
  left: 45.83333333%;
}
.pui-col-push-12 {
  left: 50%;
}

/* Responsive */
@media (min-width: 576px) {
  .pui-col-sm-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
  .pui-col-sm-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .pui-col-sm-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .pui-col-sm-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .pui-col-sm-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
  .pui-col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pui-col-sm-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
  .pui-col-sm-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .pui-col-sm-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .pui-col-sm-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .pui-col-sm-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
  .pui-col-sm-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pui-col-sm-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
  .pui-col-sm-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .pui-col-sm-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .pui-col-sm-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .pui-col-sm-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
  .pui-col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pui-col-sm-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
  .pui-col-sm-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .pui-col-sm-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .pui-col-sm-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .pui-col-sm-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
  .pui-col-sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .pui-col-md-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
  .pui-col-md-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .pui-col-md-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .pui-col-md-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .pui-col-md-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
  .pui-col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pui-col-md-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
  .pui-col-md-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .pui-col-md-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .pui-col-md-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .pui-col-md-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
  .pui-col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pui-col-md-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
  .pui-col-md-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .pui-col-md-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .pui-col-md-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .pui-col-md-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
  .pui-col-md-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pui-col-md-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
  .pui-col-md-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .pui-col-md-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .pui-col-md-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .pui-col-md-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
  .pui-col-md-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .pui-col-lg-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
  .pui-col-lg-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .pui-col-lg-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .pui-col-lg-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .pui-col-lg-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
  .pui-col-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pui-col-lg-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
  .pui-col-lg-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .pui-col-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .pui-col-lg-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .pui-col-lg-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
  .pui-col-lg-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pui-col-lg-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
  .pui-col-lg-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .pui-col-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .pui-col-lg-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .pui-col-lg-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
  .pui-col-lg-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pui-col-lg-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
  .pui-col-lg-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .pui-col-lg-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .pui-col-lg-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .pui-col-lg-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
  .pui-col-lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .pui-col-xl-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
  .pui-col-xl-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .pui-col-xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .pui-col-xl-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .pui-col-xl-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
  .pui-col-xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pui-col-xl-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
  .pui-col-xl-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .pui-col-xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .pui-col-xl-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .pui-col-xl-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
  .pui-col-xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pui-col-xl-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
  .pui-col-xl-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .pui-col-xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .pui-col-xl-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .pui-col-xl-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
  .pui-col-xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pui-col-xl-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
  .pui-col-xl-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .pui-col-xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .pui-col-xl-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .pui-col-xl-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
  .pui-col-xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  .pui-col-xxl-1 {
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
  .pui-col-xxl-2 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .pui-col-xxl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .pui-col-xxl-4 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .pui-col-xxl-5 {
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
  .pui-col-xxl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pui-col-xxl-7 {
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
  .pui-col-xxl-8 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .pui-col-xxl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .pui-col-xxl-10 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .pui-col-xxl-11 {
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
  .pui-col-xxl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pui-col-xxl-13 {
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
  .pui-col-xxl-14 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .pui-col-xxl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .pui-col-xxl-16 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .pui-col-xxl-17 {
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
  .pui-col-xxl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .pui-col-xxl-19 {
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
  .pui-col-xxl-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .pui-col-xxl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .pui-col-xxl-22 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .pui-col-xxl-23 {
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
  .pui-col-xxl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
